.sobre__title {
    font-family: Pacifico, cursive;
    color: #8d0606;
}

@media screen and (min-width: 0) {
    .sobre__title {
        font-size: 2.rem;
    }
}

@media screen and (min-width: 768px) {
    .sobre__title {
        font-size: 2.7rem;
    }
}
